.ChangeText{
    margin: 10px;
}
.column{
    background: #2C394B;
    margin-top: 10px;
    display: flex;
    flex: 1;
    border-radius: 10px;
}
.img{
    width: 100px;
    height: 70px;
    flex: 1;
}
.input{
    padding: 10px;
    font-size: 30px;
    background: #2C394B;
    color: #eee;
    border: 0;
    width: 100%;
    flex: 10;
    outline: 0;
}